*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: Poppins,sans-serif;
}

nav {
  width: 100%;
  height: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  padding-left: 20px;
  top: 0; 
  z-index: 99; 
  gap: 50px;  
}
.left label{
    color: black;
}
.left {
  display: flex;
  align-items: center;
}
.left img {
  height: 40px;
  margin-right: 10px; 
}
label {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  color: black;
  margin-right: 10px;
}
label span {
  display: inline-block;
  position: relative;
  color: fuchsia;
}
label::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: #3498db; */
}


#right{
  margin-left: 170px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  gap: 60px;
  /* background-color: #3498db; */
}
nav a {
  color: rgb(255, 253, 253);
  margin: 0 5px;
  font-size: 15px;
  font-weight: 900;
  font-family: Poppins,sans-serif;
  text-decoration: none;
}
#right-button{
  display: flex;
  align-items: center;
  width: 300px;
  height: 80px;
  margin-left: 40px;
  /* background-color: blueviolet; */
  border-color: rgb(66, 12, 159);

}
.search-button{

  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px; 
  font-size: 34px;
  background-color: transparent; 
  border-color: rgb(66, 12, 159);

}
.plan-button{
  width: 120px;
  height: 50px;
  color:white;
  border-color: rgb(66, 12, 159);

  background-color: transparent;
}

/*nav end */
.background-img {
  position: relative;
  background-size: cover;
  background-position: center center;
}

.background-img img {
  width: 100%;
  height: 780px;
}

#background-text{
  position: absolute;
  top: 28%;
  width: 760px;
  height: 520px;
  /* background-color: brown; */
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 50px;
  padding-top:40px ;
}
.text0{
  font-weight: 900;
  font-size: 48px;
  font-family: Poppins,sans-serif ;
  text-shadow: 0.5px 0.5px black;
  color: #fff;
  text-align: start;
  line-height: 1.4;
  margin-bottom: 45px;
  word-spacing: -7px;

}

.wy{
  color: fuchsia;
}


.text1 {
    font-size: 18px;
    color: white; 
    margin: 0;
    line-height: 1.75;
    font-weight: 400;
    text-align: start;
    margin-bottom: 45px;

  }

   .c1{
  background-color: fuchsia;
  font-size: 20px;
  color: white; 
  line-height: 2;
  font-weight: 400;
  width: 200px;
  height: 50px;
  border-radius: 17px;
  text-align: center;
  margin-right: 25px;
  }
 
  .d1{
      height: 50px;
    background-color: yellowgreen;
    font-size: 20px;
    color: white; 
    line-height: 2;
    font-weight: 400;
    text-align: start;
    text-align: center;
    border-radius: 17px;
  }

  #movable-img{
      position: absolute;
      top: 28%;
      left: 50%;
      width: 760px;
      height: 520px;
      /* background-color: rgb(255, 0, 0); */
  }
  #image-slide{
      position: relative;
      width: 100%;
      height: 350px;
      margin-top: 130px;
     /* background-color: yellow; */
     display: flex;
     flex-shrink: 0;
     overflow: hidden;
  }
  #image-slide img{
      margin-right: 15px;
      width: 220px;
      height: 300px;
      background-color: #ccced0;
      border-radius: 17px;
      /* background-size: cover; */
      object-fit: cover;
  }
/* nav */
/* nav {
  background-image: linear-gradient(to right, #e0d8ec, #114b89);
   color: #fff;
  padding: 28px;
  text-align: center;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0; 
  z-index: 100;
  justify-content: space-between;
  
}
.left label{
    color: black;
}
.left {
  display: flex;
  align-items: center;
}
.left img {
  height: 40px;
  margin-right: 10px; 
}
label {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  color: black;
  margin-right: 10px;
}
label span {
  display: inline-block;
  position: relative;
  color: fuchsia;
}
label::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3498db;
}

nav a {
  color: black;
  margin: 0 5px;
  font-weight: bold;
  margin-right: 10px;
}
button.search-button,

button.plan-button {
  background-color: yellowgreen;
  color: honeydew;
  border: none;
  padding: 10px 35px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

button.search-button {
  margin-left: 20px;
}

button.search-button:hover,
button.plan-button:hover {
  background-color: skyblue;
}
/*nav end */

/*background img */
/* .background-img {
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.background-img img {
  width: 100%;
  height: 600px;
}

.text {
  margin: 0;
  font-weight: 800;
  line-height: 1.3333333333333333;
  font-size: 38px;
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-shadow: 1.5px 1.5px black;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: start;
}
.wy{
    color: fuchsia;
  }

  .text1 {
   position: absolute;
    top: 70%;
    left: 2%;
    font-size: 20px;
   color: white; 
   margin: 0;
    line-height: 1.75;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
  }
  .c1{
background-color: fuchsia;
position: absolute;
    top: 90%;
    left: 2%;
    font-size: 20px;
   color: white; 
   margin: 0;
    line-height: 2;
    font-weight: 400;
    text-align: start;
    border-radius: 22px;
  }
  .d1{
background-color: yellowgreen;
position: absolute;
    top: 90%;
    left: 15%;
    font-size: 22px;
   color: white; 
   margin: 0;
    line-height: 2;
    font-weight: 400;
    text-align: start;
    border-radius: 20px;
  }

  .image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align:start ;
  font-weight: bold;
}  */
/* background image end */

.destinations {
  display: flex;
  align-items: center;
}
.image-container {
position: relative;
  margin: 15px;
}
.destinations img {
  height: 250px;
  width: 400px;
}
.activities {
  display: flex;
  align-items: center;
}
.container {
  position: relative;
  margin: 15px;
}
.activities img {
  height: 220px;
  width: 180px;
}

/*welcome section */
.hb{
  margin-top: 50px;
  text-align: center;
}
.hb1{
  font-size: 30px;
  text-align: center;
  color: black;
    font-weight: 800;
    line-height: 1.3333333333333333;
    color: #000;
}
.hb2{
  color: fuchsia;
}
.hb3{
  line-height: 1.75;
  font-weight: 400;
  color: #919EAB;
  margin-bottom: 20px;
  margin-top: 70px;
  font-size: 18x;
  text-align: center;
}
.hb4{
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
    line-height: 1.75;
    font-weight: 400;
    color: #919EAB;
}

.about{
  background-color: yellowgreen;
  color: honeydew;
  border: none;
  padding: 10px 35px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 18px;
  align-self: center;
  margin-top: 75px;
}
button.about:hover {
  background-color: skyblue;
}
/* welcome section end */

/* DSG */
.trip-formz {
  padding-left: 360px;
  width: 100%;
  height: 320px;
  padding-top: 152px;
}
.d-flex {
  width: 900px;
  height: 100px;
  display: flex;
  background-color: #ccced0;
  border-radius: 13px;
  padding: 13px;
}
input,select , datalist{
  text-align: center;
  width: 250px;
  height: 70px;
  background-color: #ccced0;
  border: #ccced0;
}
#submit{
  width: 120px;
  height: 70px;
}
input:hover {
  color: skyblue;
}
/* DSG end*/

/* favourate */
.favorite{
  margin-top: 95px;
  display: flex;
  position: relative;
  width: 100%;
  height: 450px;
  }

.left-panel {
  margin-top: 20px;
  width: 650px;
  height: 450px;  
  padding-left: 220px;
}

.left-panel h1{
  margin: 0;
    font-weight: 800;
    line-height: 1.3333333333333333;
    font-size: 2.1rem;
}

.left-panel h3{
  margin-top: 17px;
    line-height: 1.75;
    font-size: 1.15rem;
    font-weight: 400;
    color: #637381;
}

.left-panel ul{
  margin-top: 32px;
  font-weight: 200;
}

.left-panel li{
  margin-left: 8px;
  margin-top: 10px;
    font-weight: 500;
    line-height: 1.3333333333333333;
    font-size: 1.15rem ;
}

.right-panel{
  display: flex;
  justify-content: space-between ;
  flex-wrap: wrap;    
  position: relative;
  padding: 20px;
  width: 700px;
  height: 450px;
}
#box1{
  width:400px ;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: yellowgreen;
  background-image: url(https://images.unsplash.com/photo-1526772662000-3f88f10405ff?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  border-radius: 16px;
  background-position: bottom -10px;
}
#box2{
  width:200px ;
  height: 200px;
  margin-right: 20px;
  background-color: rgb(205, 109, 50);
  background-image: url(https://images.unsplash.com/photo-1671210528714-9eb963f279df?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  border-radius: 16px;
}

#box3{
  width:200px ;
  height: 200px;
  margin-left: 20px;
  background-color: rgb(84, 50, 205);
  background-image: url(https://images.unsplash.com/photo-1489575399610-e9a20b205184?q=80&w=1957&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: bottom;
  border-radius: 16px;
}

#box4{
  width:400px ;
  height: 200px;
  margin-right: 20px;
  background-color: yellowgreen;
  background-image: url(https://plus.unsplash.com/premium_photo-1661902004576-4680d275f234?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  border-radius: 16px;
  background-position: bottom;
} 
/*favourite end */

/* feature package */
.featured-package{
  width: 100%;
  height: 1100px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 30px;
}
.featured-package h4 {
  font-size: 12px;
  color:#919EAB; 
  font-weight: 600;
  margin-bottom: 5px;
}
.featured-package h1{
  font-weight: 800;
  margin-top: 5px;
  line-height: 1.3333333333333333;
  font-size: 2.2rem; 
  margin-bottom: 5px;
}
.featured-package h2 {
  line-height: 1.75;
    font-size: 1.05rem;
    font-weight: 400;
    color: #637381; 
    margin-top:14px;
}
.packages{
  margin-top: 80px;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 75PX;
  flex-wrap: wrap;
}
.package{
  width: 400px;
  height: 320px;
  background-color: rgb(213, 225, 221);
  border-radius: 16px;
  }
.imgdiv {
  width: 100%;
  height: 230px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 9px;
}
.imgdiv img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgdiv:hover img{
  transform: scale(1.2);
}
.package-details{
  width: 100%;
  height: 70px;
}
button.b1{
  background-color: yellowgreen;
  color: honeydew;
  border: none;
  padding: 10px 35px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 18px;
  align-self: center;
  margin-top: 400px;
  margin-bottom: 20px;
}
button.b1:hover {
  background-color: skyblue;
}
/* feature package end */

/* Working Process */
.work-flow
{
    text-align: center;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
}
.work-flow h5{
  color :rgb(99, 115, 129);
  font-size: 0.75rem;
  font-weight: 450;
}
.work-flow h1{
  margin: 0;
    font-weight: 800;
    line-height: 1.3333333333333333;
    font-size: 2rem;
}
.work-flow p{
  margin: 16px 0px 0px;
    line-height: 1.75;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(99, 115, 129);
}
.processs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 84%;
    margin-left: 120px;
    height: 300px;
}
.process{
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    width: 290px;
    height: 170px;
    align-items: center;
}
button.b2{
  background-color: yellowgreen;
  color: honeydew;
  border: none;
  padding: 10px 35px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 18px;
  align-self: center;
  margin-top: 5px;
  margin-bottom: 500px;
}
button.b2:hover {
  background-color: skyblue;
}
/*Working process end */

/* best package */
.best-packages{
  margin-top: 300px;
  width: 100%;
  height: 500px;
  text-align: center;
}
.best-packages h1{
  margin-top: 20px;
    font-weight: 800;
    line-height: 1.3333333333333333;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.best-packages h2{ 
  line-height: 1.75;
    font-size: 1rem;
    font-weight: 400;
    color: #637381;
    margin-top: 16px;
}
.best-packages h4{
  color: #637381;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 5px;
}
.packages{
  height: 400px;
  margin-top: 30px;
  display: flex;
}
button.b3{
  background-color: yellowgreen;
  color: honeydew;
  border: none;
  padding: 10px 35px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 100px;
}
button.b3:hover {
  background-color: skyblue;
}
/* best package end */

/* short and reward */
.best-packagesr{
  margin-top: 300px;
  width: 100%;
  height: 700px;
  text-align: center;
}
.best-packagesr h1{
  margin-top: 20px;
    font-weight: 800;
    line-height: 1.3333333333333333;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.best-packagesr h2{ 
  line-height: 1.75;
    font-size: 1rem;
    font-weight: 400;
    color: #637381;
    margin-top: 16px;
}
.best-packagesr h4{
  color: #637381;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 5px;
}
.packages{
  height: 400px;
  margin-top: 30px;
}
button.b3{
  background-color: yellowgreen;
  color: honeydew;
  border: none;
  padding: 10px 35px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 100px;
}
button.b3:hover {
  background-color: skyblue;
}
/* short and reward end */

/* latest news */
.read-our-latest-news{
  text-align: center;
  margin-top: 300px;
      width: 100%;
      height: 550px;
}
.read-our-latest-news h5{
  color :rgb(99, 115, 129);
  font-size: 0.75rem;
  font-weight: 450;
}
.read-our-latest-news h1{
  margin: 0;
  font-weight: 800;
  line-height: 1.3333333333333333;
  font-size: 2rem;

}
.read-our-latest-news p{
  margin: 16px 0px 0px;
    line-height: 1.75;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(99, 115, 129);
}
.news{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; 
  position: relative;
  justify-content:space-between;
  width: 1260px;
  margin-left: 120px;
  height: 460px;
}
.news-lt{
  border-radius: 12px;
  width: 616px ;
  height: 450px;
  border-radius: 12px;
  }

.news-r{
  border-radius: 12px;
  width: 610px;
  height: 460px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.new-r{
  width: 295px;
  height: 200px;
  background-color: yellow;
}
.imgdivnew {
  width: 100%;
  height: 430px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 9px;
}
.imgdivnew img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgdivnew1 {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 9px;
}
.imgdivnew1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*latest news end */

/* why us */
.whyus{
  margin-top: 200px;
  text-align: center;
}
.whyus h4{
  color :rgb(99, 115, 129);
  font-size: 0.75rem;
  font-weight: 450;
}
.whyus h1{
  margin: 0;
  font-weight: 800;
  line-height: 1.3333333333333333;
  font-size: 2rem;
}
.whyus p{
  margin: 16px 0px 0px;
    line-height: 1.75;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(99, 115, 129);
}
.center-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 20px; 
}

.left-section,
.right-section {
  flex: 1;
  margin: 0 140px;
}

.image-section {
  flex: 0 0 auto;
  margin: 0 40px; 
}
.wu1 {
  display: flex;
  flex-direction: column;
}
.wu1 > :not(style):not(style) {
  margin: 10px;
}
.wu2 {
  display: flex;
  flex-direction: column;
}
.wu2 > :not(style):not(style) {
  margin: 0px;
}
.wu3 {
  margin: 8px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 50%;
  background: linear-gradient(rgb(255, 212, 83), rgb(248, 191, 18));
}
.wu4 {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.wu5 {
  margin: 0px;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.85714;
}
.wu6 {
  margin: 0px;
  line-height: 1.85714;
  font-size: 0.875rem;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: rgb(99, 115, 129);
}
.wu7 {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}
.wu8 {
  margin: 8px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 50%;
  background: linear-gradient(rgb(77, 177, 201), rgb(33, 158, 188));
}
.wu9 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wu10 {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}
.wu11 {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}
/* why us end */

/* trip of the month */
.trip-of-the-month{
  width: 100%;
  height: 450px;
  display: flex;  
  justify-content: center;  
  align-items: center;
  margin-bottom: 40px;
}

.tripimg{
  width: 700px;
  height: 450px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; 
  position: relative; 
}

.tripimg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.tripimg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 420px; 
    background: linear-gradient(to left, #161C24, transparent); 
  }

.tripcontent{
  color: #fff;
  width: 600px;
  height: 450px;
  background-color:  #161C24;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  padding: 60px;
  text-align: start;

}
.tripcontent h1{
text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.tripcontent h4{
      font-size: 16px;
      font-weight: 200;
      margin-bottom: 20px;
}
.tripcontent h3{
  margin-bottom: 40px;
}
button.b5{
  background-color: yellowgreen;
  color: honeydew;
  border: none;
  padding: 10px 35px;
  border-radius: 22px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 100px;
}
button.b5:hover {
  background-color: skyblue;
}
/* trip of the month end */


/* contact */
#contactus{
  width: 100%;
  height: 600px;
  display: flex;
 padding: 0 145PX;
}
#contactcontent{
  width: 550px;
  height: 600px;
  margin-top: 40px;
}
#contactcontent i{
  margin-right: 10px;
}
#contactcontent h1{
  margin-bottom: 40px;
    font-family: Poppins,sans-serif;
    font-weight: 800;
    line-height: 1.3333333333333333;
    font-size: 2rem;
}
#contactcontent p{
  margin-bottom: 40px;
    line-height: 1.75;
    font-size: 1rem;
    font-family: Poppins,sans-serif;
    font-weight: 400;
    color: #637381;
    margin-top: 24px;
    margin-bottom: 24px;
}
#contactcontent h4{
  margin-bottom: 15px;
}
#map{
  padding-top: 70px;
  padding-left: 80px;
  position: relative;
  width: 770px;
  height: 600px;
}
/* contact end */

/* mobil responsive */
@media (max-width: 767px) {
  .work-flow {
    margin-top: 200px;
    height: 500px; 
  }
.processs {
    margin-top: 40px;
      flex-direction: column; 
      width: 50%;
      margin-left: 150px;
  }
 .process {
      width: 100%;
      margin-bottom: 30px; 
  }
button.b2 {
      margin-top: 450px; 
  }
}
/* end m */